.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative !important;
    margin-bottom: 20px !important;
}
